body {
	background-color: #2e2e2e;
}

main {
  text-align: center;
  vertical-align: center;
}

div {
  margin: 10px;
}

.mainTitle {
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
}

.intro {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	color: white;
}


.container, .main-container {
	display: flex;
	flex-direction: row;
	margin: 0;

}
.main-container{
	margin-bottom: 10px;
}

.left {
	width: 50%;
	color: white;
	margin: 5px;
}

.right {
	width: 50%;
	text-align: right;
	color: white;
	margin: 5px;
}

.large {
	width: 15%;
	align-self: end;
	border-top-style: none;
  border-right-style: none;
  border-left-style: none;
  border-bottom-style: underline;
	border-color: white;
	color: white;
	background-color: #2e2e2e;
}

.large::placeholder {
	text-align: center;
}
.input {
	display: flex;
	width: 50%;
	flex-direction: row-reverse;
	color: white;
}

.container > p {
	font-size: 15px;
}