body {
	background-color: #2e2e2e;
	font-family: 'Montserrat', sans-serif;
}

main {
  text-align: center;
  vertical-align: center;
}

div {
  margin: 10px;
}

.bulletPoint {
	font-size: 150%;
}

.bp1 {
	color: #f0bf00;
	font-size: 150%;
}

.bp2 {
	color: #f6e50e;
	font-size: 150%;
}

.bp3 {
	font-size: 150%;
	color: #fff688;
}

.bp4 {
	color: #5f63ec;
	font-size: 150%;
}

.bp5 {
	color: #71A8FF;
	font-size: 150%;
}

.bp6 {
	color: #0f7ab4;
	font-size: 150%;
}

.bp7 {
	color: #d4e4ff;
	font-size: 150%;
}

.bp8 {
	color: red;
	font-size: 150%;
}
.mainTitle {
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
}

.intro {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	color: white;
}


.container, .main-container {
	display: flex;
	flex-direction: row;
	margin: 0;

}
.main-container{
	margin-bottom: 10px;
}

.left {
	width: 90%;
	color: white;
	margin: 5px;
	margin-left: 0px;
	margin-right: 0px;
	padding-right: 0px;
}

.right {
	width: 50%;
	text-align: right;
	color: white;
	margin: 5px;
}

.large {
	width: 50%;
	align-self: end;
	border-top-style: none;
    border-right-style: none;
    border-left-style: none;
    border-bottom-style: underline;
	border-color: white;
	color: white;
	background-color: #2e2e2e;
}

.large::placeholder {
	text-align: center;
}
.input {
	display: flex;
	width: 20%;
	flex-direction: row-reverse;
	color: white;
	margin-left: 0px;
	margin-right: 0px;
}



.container > p {
	font-size: 15px;
}

.next-button{
    display: center;
    border-radius: 20px;
    font-size: small;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
}

.previous-button{
    display: center;
    border-radius: 20px;
    font-size: small;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
}


.compare-button{
    display: center;
    border-radius: 20px;
    font-size: small;
    background: #0f7ab4;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;

}

.restart-button{
    display: center;
    border-radius: 20px;
    font-size: small;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
}

.button{
    display: flex;
    justify-content: center;
	align-items: center;
	flex-direction: column;
}

.graphTitle{
	font-weight: bolder;
	font-size: 20px;
	display: flex;
	justify-content: center;
	color: white;
}

.resultTitle{
	font-weight: bolder;
	font-size: 30px;
	display: flex;
	color: white;
	justify-content: center;
}

button {
	padding: 5px 40px 5px 40px;
}